.barra-navegacion{
    background-color:   #1e8449  ;
    background-image: linear-gradient(180deg,  #1e8449   10%,   #1e8449   100%);
    background-size: cover;
}


.contenedor-seleccionAdmin{
    width: 100%;
    min-height: 100vh;
    height: auto;
    overflow: auto;
    /* overflow-x: auto; */
    margin-bottom: 2rem;
    border-radius: 0.2rem;

}

.separador{
  
    background:  #a3246e;
}

.opcion{
    cursor: pointer;
}

.contenedor-total{
    width: 100%;
}

.img_menu{
    width: 100px;

}

.navTabla{
    display: flex;
    align-items: center;
}

.navbar-search{
    width: 60% ;
}

.datosTabla{
    width: 100%;
    height: 100%;
    padding: 100px;
}

.sin-busqueda{
    width: 100%;
    height: 100%;
    
}