.separador{
  background: #000000be;
  width: 100%;
  height: 10rem;
}

.busqueda{
  background: url(../img/almuerzo.jpg), no-repeat;
  background-size: cover;
  height: 70vh;
  width: 100%;
  
}

.busqueda h1{
  color: #ffffff;
  margin-bottom: 2rem;
  font-size: 7rem;
}

.busqueda div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #0000007a;
  width: 100%;
  height: 100%;
}

/***************************FILTROS Y  MENU****************************************/

.contenedor-categorias{
  width: 100%;
  height: auto;
  
}

.categorias{
  width: 80%;
  height: auto;
}

.categoria div{
  cursor: pointer;
}

.categoria{
  margin: 0;
  padding: 1rem;
}


#ejemplo{
  width: 100%;
  height: 50vh;
}

/*************************** MENU****************************************/
.cambioSeleccion{
  width: 80%;
  margin: 0 auto;
  font-size: 3.5rem;
  font-weight: bold;
}

.cambioSeleccion hr{
  background: rgb(211, 13, 13);
}

.contenedor-informacion{
  width: 100%;
  height: auto;
  
}

.opciones-informacion{
  width: 80%;
  min-height: 85rem;
  max-height: 85rem;
  overflow: auto;
  display: flex;
  justify-content: start;
  
}

.tarjetaMenu{
  width: 100%;
  height: 40rem;
  margin-bottom: 3rem;
  
}

.tamanioTarjeta{
  height: 80%;
  
}




