html{
    font-size: 62.5%;
}

.contenedor-negocio{
    width: 100%;
    padding-bottom: 3rem ;
    /* background: url(../img/fondo-negocio.jpg), no-repeat;
    background-position: center center;
    background-size: cover; */
}

/* .contenedor-negocio .formulario{
    background: #ffffff;
    width: 50%;
    border-radius: 0.5rem;
    padding: 3rem;
    justify-content: center;
    margin-left: 12rem;
    margin-top: 12rem;

} */

.list-unstyled li{
    padding-left: 20rem;
    list-style: none;
    color: #fe346e;
}

.form-control{
    display: block;
    width: 60%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

}
.form-group{
   padding: 0;
   margin: 0;
}

p, label {
    margin-left: 22rem;
    margin-top: 2.5rem;
    font-size: 1.9rem;
    padding: 0;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    margin-top: 2.5rem;
    font-size: 1.9rem;
}
.paso-final h2{
    padding: 1rem;
    margin: 3rem;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3rem;
}



#formuRegistro {
    background-color: #ffffff;
    margin: 12rem auto;
    padding: 4rem;
    width: 81%;
    min-height: 30rem;
    min-width: 30rem;
}

input {
    padding: 1rem;
    width: 80%;
    font-size: 1.6rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 0.1rem solid #aaaaaa;

}

h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding: 1rem;
    font-size: 4rem;
}

h3{
    padding: 2rem;
}

.display{
    display: none;
}
