
body {
  overflow-x: hidden;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}


.foco{
  background-color: white;
  /* webkit-border-radius: 8px; */
  border-radius: 8px;
  border: 1px solid #dadce0;
  /* webkit-box-sizing: border-box; */
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -20rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 20rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -20rem;
  }
}

@media (min-width: 1200px){
  .container, .container-lg, .container-md, .container-sm, .container-xl{ 
  max-width: 1140px;
  padding: 1rem;
  }
}
